* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 32px;
    color: white;
    font-weight: 700px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a {
    position: relative;
    font-size: 22px;
    color: white;
    font-weight: 500px;
    text-decoration: none; 
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;

}
.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 610px;
    margin-top: 10%;
    justify-content: center;
}
.image-2 {
    width: 40%;
    height: 600px;
}
.image-1, .image-2 {
    margin: 0 10px;
    border-radius: 5px;
}
.image-1 {
    width: 60%;
    height: 600px;
}
.image-1 {
    background-image: url('images/meat1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.image-2 {
    background-image: url('images/meat2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}